


@media (max-width: 414px) {
    .ulMidias{
        list-style-type: none;
    }
}
@media (min-width: 415px) and (max-width: 1024px) {
    .ulMidias{
        list-style-type: none;
    }
}
@media (min-width: 1025px) {
    .ulMidias{
        list-style-type: none;
        
    }

    .ulMidias li{
        margin-top: 30px;
    }
}


.frameMidias{
    position: fixed;
    top: 15%;
}

.liMidias{}